<h2>Father Medical History:</h2>
<ul>
    <li>
        AIDS
    </li>
    <li>
        Alcoholism
    </li>
    <li>
        Alzheimers
    </li>
    <li>
        Anemia
    </li>
    <li>
        Etc...
    </li>
</ul>
<h2>Mother Medical History:</h2>
<ul>
    <li>
        AIDS
    </li>
    <li>
        Alcoholism
    </li>
    <li>
        Alzheimers
    </li>
    <li>
        Anemia
    </li>
    <li>
        Etc...
    </li>
</ul>

<h2>Sibling Medical History:</h2>
<ul>
    <li>
        AIDS
    </li>
    <li>
        Alcoholism
    </li>
    <li>
        Alzheimers
    </li>
    <li>
        Anemia
    </li>
    <li>
        Etc...
    </li>
</ul>

